
header {
    display: flex;
    background-color: #d40d77; 
    color: black;
    padding: 20px;
    text-align: center;
}

.foto-quadrada {
    width: 150px;
    display: block;
    margin: 10;
}

body {
    background-color: #ffeff6; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}